<header>
  <%- include('logo'); %>
  <nav>
    <a href="/signup"><button class="sign-button">Sign up</button></a>
    <a href="/signin"
      ><button class="sign-button">
        <img src="/images/register.png" alt="Account register icon" />Sign In
      </button></a
    >
  </nav>
</header>
