<header>
  <%- include('logo'); %>
  <nav>
    <button class="sign-button">Sign up</button>
    <button class="sign-button">
      <img src="/images/register.png" alt="Account register icon" />Sign In
    </button>
  </nav>
</header>
