<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body>
    <div class="wrapper">
      <main class="login-wrapper-main">
        <%- include('./partials/logo'); %>
        <div class="login-wrapper">
          <h1>Sign in</h1>
          <p>MembersOnly is the best place to post silly messages!</p>
          <form method="post" action="" class="login-divider">
            <label for="username">Login</label>
            <input type="text" name="username" />
            <label for="password">Password</label>
            <input type="password" name="password" />
            <% if (locals.error) { %>
            <span class="form-error"><%= locals.error%></span>
            <%}%>
            <button type="submit" class="button-submit">
              <img src="/images/register.png" alt="Account register icon" />Sign
              In
            </button>
          </form>
          <p>New to MembersOnly? <a href="/signup">Create an account.</a></p>
        </div>
      </main>
      <%- include('./partials/footer'); %>
    </div>
  </body>
</html>
