@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

:root {
  --background: hsl(25, 100%, 97%);
  --primary: hsl(218, 3%, 98%);
  --accent: hsl(204, 100%, 57%);
  --text: hsl(26, 100%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: 'Oxygen', sans-serif;
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--text);
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Logo */

.logo {
  font-size: 1.4rem;
  font-weight: 700;
}

.logo span {
  color: var(--accent);
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

header button {
  width: 75px;
  border: var(--text) 1px solid;
  border-radius: 3px;
  background-color: var(--primary);
  font-family: 'Oxygen', sans-serif;
  font-size: 0.9rem;
  padding: 5px 0;
  transition: background-color 200ms ease-in;
  cursor: pointer;
}

header button:hover {
  background-color: hsl(218, 3%, 93%);
}

header nav {
  display: flex;
  gap: 7px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

footer img {
  height: 35px;
}

footer a {
  display: flex;
  align-items: center;
  gap: 7px;
}

main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Login */

.login-wrapper {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 100%, 99%);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 3px;
  padding: 30px;
  gap: 20px;
  margin-top: 20px;
}

.login-wrapper h1 {
  font-size: 1.2rem;
}

.login-wrapper p {
  font-size: 0.9rem;
  color: hsl(0, 0%, 60%);
  text-align: center;
}

.login-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.login-wrapper form label {
  font-size: 0.9rem;
}

.login-wrapper form button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  height: 45px;
  font-size: 1.05rem;
  border: 0;
  border-radius: 3px;
  background-color: var(--accent);
  font-family: 'Oxygen', sans-serif;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  color: hsl(0, 100%, 100%);
  margin-top: 20px;
  cursor: pointer;
}

.login-wrapper form button img {
  height: 30px;
  width: 30px;
}

.login-wrapper form input {
  margin-bottom: 10px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 3px;
  padding: 6px 5px;
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
}

.login-wrapper form input:focus {
  outline: 0;
  border: 1px solid hsl(204, 100%, 80%);
  box-shadow: 0 0 7px 1px rgba(55, 142, 200, 0.5);
}

.login-header {
  display: flex;
  align-self: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-right: 30px;
  gap: 15px;
  font-size: 0.85rem;
  color: hsl(0, 0%, 60%);
}

.login-header button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 5px 10px;
  font-size: 0.9rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  background-color: var(--accent);
  font-family: 'Oxygen', sans-serif;
  color: hsl(0, 100%, 100%);
  cursor: pointer;
}

.login-header img {
  height: 20px;
  width: 20px;
}
