@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap');

:root {
  --background: hsl(25, 100%, 97%);
  --primary: hsl(218, 3%, 98%);
  --accent: hsl(204, 100%, 57%);
  --post: hsl(204, 100%, 80%);
  --text: hsl(26, 100%, 7%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: 'Oxygen', sans-serif;
  color: var(--text);
}

a {
  text-decoration: none;
  color: var(--text);
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.strong {
  font-weight: 700;
}

.accent {
  color: var(--accent);
}

.button-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  height: 45px;
  font-size: 1.05rem;
  border: 0;
  border-radius: 3px;
  background-color: var(--accent);
  font-family: 'Oxygen', sans-serif;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
  color: hsl(0, 100%, 100%);
  margin-top: 20px;
  cursor: pointer;
}

input[type='text'],
input[type='password'],
textarea {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 3px;
  padding: 6px 5px;
  font-family: 'Oxygen', sans-serif;
  font-size: 1rem;
}

input[type='text']:focus,
input[type='password']:focus,
textarea:focus {
  outline: 0;
  border: 1px solid hsl(204, 100%, 80%);
  box-shadow: 0 0 7px 1px rgba(55, 142, 200, 0.5);
}

form {
  display: flex;
  flex-direction: column;
}

/* Logo */

.logo {
  font-size: 1.4rem;
  font-weight: 700;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px 10px 20px;
}

/* Header */

.sign-button {
  height: 30px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 0 10px;
  font-size: 0.9rem;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  background-color: var(--accent);
  font-family: 'Oxygen', sans-serif;
  color: hsl(0, 100%, 100%);
  cursor: pointer;
}

.sign-button img {
  height: 20px;
  width: 20px;
}

header nav {
  display: flex;
  gap: 7px;
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-bottom: 5px;
}

footer img {
  height: 35px;
}

footer a {
  display: flex;
  align-items: center;
  gap: 7px;
}

/* Login */

.login-wrapper {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 100%, 99%);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 3px;
  padding: 30px;
  gap: 10px;
  margin-top: 20px;
}

.login-wrapper-main {
  height: 100%;
}

.login-wrapper h1 {
  font-size: 1.3rem;
}

.login-wrapper p {
  margin: 10px 0;
  font-size: 0.9rem;
  color: hsl(0, 0%, 60%);
  text-align: center;
}

.login-wrapper form {
  gap: 10px;
  width: 100%;
}

.login-wrapper form label {
  font-size: 0.9rem;
  margin-top: 10px;
}

.login-wrapper form button img {
  height: 30px;
  width: 30px;
}

.login-wrapper a {
  color: var(--accent);
}

.login-header {
  display: flex;
  align-self: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-right: 30px;
  gap: 15px;
  font-size: 0.85rem;
  color: hsl(0, 0%, 60%);
}

.login-divider {
  border-bottom: 1px solid hsl(0, 0%, 80%);
  padding-bottom: 25px;
}
.form-error {
  margin-top: -7px;
  font-size: 0.8rem;
  color: hsl(0, 100%, 30%);
}

/* Index */

.index {
  justify-content: initial;
  margin-top: 20px;
}

.posts-wrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--post);
  border-radius: 4px;
  padding: 15px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.post-body {
  font-size: 1.2rem;
  overflow-wrap: break-word;
  margin-bottom: 30px;
}

.post-info {
  display: flex;
  justify-content: space-between;
}

.post-new {
  text-align: right;
  font-size: 1.1rem;
}

.post-red {
  color: hsl(0, 100%, 30%);
}

.remove-post {
  font-size: 0.9rem;
  margin-top: 3px;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .posts-wrapper {
    width: 380px;
  }
}

/* Rights */

.rights-wrapper {
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 1.2rem;
  margin: 0 5px 40px 5px;
}

@media screen and (max-width: 620px) {
  .rights-wrapper {
    width: 380px;
  }
}

.rights {
  display: flex;
  flex-direction: column;
  gap: 2px;
  list-style: none;
}

.rights li {
  display: flex;
  align-items: center;
  gap: 3px;
}

.rights-can {
  color: hsl(123, 41%, 45%);
}

.rights-cant {
  color: hsl(14, 88%, 40%);
}

.rights img {
  width: 24px;
  height: 24px;
}

/* Error handling */

.error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.error-status {
  font-size: 2rem;
}

.error-message {
  font-size: 1.4rem;
  margin-bottom: 20px;
}

/* Upgrade */

.upgrade-wrapper {
  width: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: hsl(0, 100%, 99%);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 3px;
  padding: 20px;
}

.upgrade-wrapper p {
  font-size: 1.2rem;
}

.upgrade-wrapper label {
  font-size: 1.1rem;
  text-align: center;
}

.upgrade-wrapper form {
  gap: 10px;
}

.status {
  text-transform: capitalize;
}

/* Add post */

.add-post-wrapper {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 100%, 99%);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 3px;
  padding: 20px;
  gap: 10px;
}

.add-post-wrapper form {
  width: 100%;
}

.add-post-wrapper label {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.add-post-wrapper textarea {
  width: 100%;
  resize: none;
}

.add-post-wrapper .form-error {
  margin-top: 5px;
}
